spyder
seaborn
wheel
pandas
numpy
torch
torchvision
torchaudio
matplotlib
PyVirtualDisplay
gym
nn_builder
tensorflow
jupyter
openimages
# fiftyone
split-folders
image-slicer
cffi
tensorboardX
tqdm
scipy
scikit-image
colorama
setproctitle
pytz
ipython
dominate
requests
opencv-python
jupyter
PyQt5
